form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 1em;
}

input {
    text-align: center;
    background-color: var(--color-dark2);
    outline: none;
    border: solid var(--color-dark4);
    border-radius: 15px;
    color: var(--color-purple);
    padding: 15px;
    font-size: var(--fontsize-input);
}

#submitButton {
    width: fit-content;
    color: black;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    font-size: var(--fontsize-button);
    transition: 0.5s;
}

#submitButton:hover{
    color: var(--color-purple);
    cursor: pointer;
}
